numpy==1.26.4
torch==2.3.0
torchvision
hydra-core
hydra-submitit-launcher
scikit-learn
pandas
matplotlib
moviepy==1.0.3
mujoco_py
dm-control==1.0.8
wandb
tensorboard
setuptools>=65.5.1
opencv-python
hiplot
termcolor
d4rl
gym==0.23.1
mujoco==2.3.7